body{
            font-family: monospace;
            overflow: hidden;
            background-image: url("images/arcticlandsscape.jpg");
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
}

header{
            color: royalblue;
            text-align: center;
            font-size: 2em ;
        }
        
        #catherine{
            position: absolute;
            left: 75;
            bottom: 0px;

        }

    


        
        
